[Desktop Entry]
Name=Web
Exec=zsurf %U
StartupNotify=true
Terminal=false
Type=Application
Icon=web-browser
Categories=Network;Qt5;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;multipart/related;application/x-mimearchive;message/rfc822;
Actions=Incognito;

